* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-container {
  padding-bottom: 20rem;

}

.box {
  width: 25rem;
  height: 25rem;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  padding: 2rem;
}

.boxItem {
  width: 5rem;
  height: 5rem;
  background-color: white;
  margin: 1rem;
  text-decoration: none;
  list-style: none;
}

button {
  background-color: tomato;
  color: white;
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 20px;
  margin: 2rem;

}